@import url('https://fonts.googleapis.com/css2?family=Titan+One&amp;display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: 2px black;
 }
:root {
  --red: #FF1A00;
  --secondary-color: #2ecc71;
  --padding: 10px;
}

body {
  background: #211F1F;
}
nav {
  background:var(--red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
}

nav p {
  width: 60%;
  color: black;
  -webkit-text-stroke: 1px white;
}
nav button   {
  background: black;
  padding: 1rem;
  border: 2px solid white;
  font-size: 1rem;
   -webkit-text-stroke: 0;
   border-radius: 5px;
}
nav button  a {
  -webkit-text-stroke: 0;
  text-decoration: none;

}
.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.links img {
  width: 3rem
;height:3rem
}
.links a:last-of-type img  {
  width: 3.7rem;
  height: 3.7rem;
  margin-top: .5rem;
}
.container{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.container .hero {
  width: 100%;
  max-height: 60rem;
  object-fit: cover;
}
.story {
  display: flex;
   justify-content: center;
  margin: 2rem auto;
   
  gap: 3rem;
   
}
.story img {
  width: 15rem;
  flex-shrink: 0;
  border: 5px solid white;
}
.story h3 {
  font-size: 3rem;
  width: 15rem;
  text-align: right;


}

.story:nth-of-type(even) {
  flex-direction: row-reverse;
}
.story:nth-of-type(even) h3 {
  text-align: left;
}
.title {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 4rem 0;
}

.title span {
  color: var(--red);
}

.Tokenomics {
   position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.title.sec {
  font-size: 2rem;
  margin: 1rem 0;
}